POSTGRES_USER=agency_portal
POSTGRES_PASSWORD=agency_portal
POSTGRES_DB=agency_portal
POSTGRES_PORT=5432
ADMINER_PORT=8080
DATABASE_URI=postgresql://agency_portal:agency_portal@localhost:5432/agency_portal
PAYLOAD_SECRET=poc_local_payload_secret_7e5d7c9f1a4c2b6d8e9f0a1c3b5d7f9a
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
INVITE_TOKEN_TTL_HOURS=72
SEED_STOREHERO_ROOT_EMAIL=storehero.root@poc.local
SEED_STOREHERO_ROOT_PASSWORD=Passw0rd!Demo
